#login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-page{
  height: 69vh;
  display: flex;
  flex-direction: column;
  justify-content: center
}

#bottone-accedi{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pagina{
  min-height: calc(100vh - 29.5vh);
}


a:hover{
color: blueviolet;
cursor: pointer;
}
