<div id="pagina">
<div id="login-page">
  <div class="container-fluid" id="login-text">
    <h3>Login</h3>
  </div>

  <form #login="ngForm" (ngSubmit)="click(login)">
    <div class="container-fluid" id="login-form">
      <div class="col-3">
        <label for="inputEmail4" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail4"
          name="email"
          ngModel
          email
          required
        />
      </div>
<div *ngIf="emailNonValida">
  <p> email non valida</p>
</div>

      <div class="col-3">
        <label for="inputPassword6" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword6"
          aria-describedby="passwordHelpInline"
          name="password"
          ngModel
          required
        />
      </div>

      <div *ngIf="passwordInvalid">
        <p> password errata</p>
      </div>

      <div>
        <a class="href" routerLink="/password-dimenticata">
          password dimenticata?
      </a>
    </div>

    </div>


    <div id="bottone-accedi">
      <button
        class="btn btn-primary my-3"
        type="submit"
        [disabled]="!login.valid"
      >
        accedi
      </button>
    </div>
  </form>
</div>
</div>
