 <div class="container-fluid my-3">
  <nav class="navbar navbar-light " >
      <div class="container-fluid" >
        <a class="navbar-brand" href="">
          <img src="./assets/img/Cattura.PNG" alt="logo" width="48" height="48" class="d-inline-block align-text-center" >
          Shop Electronics
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active mx-3" aria-current="page" routerLink="/sondaggio" >sondaggio</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
