<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<div class="container-fluid my-3">
  <nav class="navbar navbar-light">
    <div id="badge" class="d-flex flex-row">
      <div class="dropdown">
        <button
          class="btn"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="material-symbols-outlined" id="profilo"> account_circle </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <div>
            <button class="btn btn-primary">Accedi</button>
            <button class="btn btn-dark my-2">Registrati</button>
          </div>
        </ul>
      </div>

      <button class="btn" type="button" id="btn-carrello">
        <span class="material-symbols-outlined" id="carrello">
          <div routerLink="/sss">shopping_cart</div>
        </span>
      </button>

      <button class="btn" type="button" routerLink="/sondaggio" id="btn-sondaggio">
        <span class="material-symbols-outlined" id="sondaggio">
          checklist_rtl
          </span>
      </button>
    </div>
    <div id="img">
      <a class="navbar-brand d-flex align-items-center" href="">
        <img
          src="./assets/img/prova.png"
          alt="logo"
          width="90"
          height="70"
          class="mx-1"
        />
        <strong>Shop Electronics</strong>
      </a>
    </div>
    <div id="search">
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

<!--
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active mx-3" aria-current="page" routerLink="/sondaggio" >sondaggio</a>
    </li>
    <li>
      <a class="nav-link active" aria-current="page" routerLink="">Home</a>
    </li>
  </ul>
  -->
