<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>


  <nav class="navbar navbar-light">
    <div id="badge" class="d-flex flex-row">
      <div class="dropdown">
        <button
          class="btn"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="material-symbols-outlined" id="profilo"> account_circle </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <div *ngIf="!logged else bloccoElse">
            <button class="btn btn-primary" routerLink="/login">Accedi</button>
            <button class="btn btn-dark my-2" routerLink="/registrazione">Registrati</button>
          </div>
          <ng-template #bloccoElse>

            <!-- Example single danger button -->
            <li>
                <hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/profilo" >Profilo</a></li>
                <li><a class="dropdown-item" >Storico ordini effettuati</a></li>
                <li><hr class="dropdown-divider"></li>
                <button class="btn btn-dark my-2" routerLink="/" (click)="logout()">log out</button>
          </ng-template>
        </ul>
      </div>





  <span class="material-symbols-outlined" id="carrello" >
    <div routerLink="/carrello" >
      <button type="button" class="btn position-relative" id="icona-carrello" >shopping_cart

        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary" id="count-item" *ngIf="items">
         {{items}}
           <span class="visually-hidden">unread messages</span>
         </span>
      </button>

    </div>
  </span>




<!--

      <button class="btn" type="button" id="btn-carrello">
        <span class="material-symbols-outlined" id="carrello">
          <div routerLink="/carrello">shopping_cart</div>
        </span>
      </button>
-->
      <button class="btn" type="button" routerLink="/sondaggio" id="btn-sondaggio">
        <span class="material-symbols-outlined" id="sondaggio">
          checklist_rtl
          </span>
      </button>
    </div>
    <div id="img">
      <a class="navbar-brand d-flex align-items-center" routerLink="">
        <img
          src="./assets/img/prova.png"
          alt="logo"
          width="90"
          height="70"
          class="mx-1"
        />
        <strong>Shop Electronics</strong>
      </a>
    </div>
    <div id="search">
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Cosa stai cercando?"
          aria-label="Search"
        />
        <button class="btn btn-primary" type="submit">
            <span class="material-symbols-outlined" id="search-icon">
              search
              </span>
        </button>
      </form>
    </div>
  </nav>



