

.navbar-brand{
  font-family: 'Rampart One', cursive;
}

.navbar{
  height:  15vh;
   background-color: rgb(168, 212, 255);
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
  }



  input{
    width: 14vw;

  }

  #search{
    width: 33vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }



  #badge{
    width: 33vw;
    display: flex;
    flex-direction: column;
  }


  #dropdownMenuButton1{
    width: 3rem;
    height: 3rem;
    margin-right: 1vw;
  }

.dropdown-menu{
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 5px #888888;
  background: aliceblue;
}
 #carrello{
  padding-right: 1vw;
  padding-left: 1vw;
}

#carrello{
  border-right: solid 2px black;
  border-left: solid 2px black;
}

#search-icon{
  display: flex;
}

#icona-carrello{
font-size: x-large;
width: 3rem;
height: 3rem;
}

#btn-sondaggio{
  margin-left: 1vw;
}

#count-item{
  height: 1.3rem;
  width: 1.2rem;
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
}

#icona-carrello.btn{
line-height: 0;
}
