nav{
  background-color: rgb(168, 212, 255);
  position: absolute;
  bottom: 12px;
  left: 0;
  margin-left: 12px;
  margin-right: 12px;
  width: calc(100vw - 24px);

}




div#testo{
  height : 48px;
 padding-left: 50%;
 padding-top: 10px;
}

