<div id="pagina">
<div *ngIf="!isEmail else cambiaPassword">
  <div *ngIf="!isClicked else waitPage">
  <div id="remember-page">
    <div class="container-fluid" id="login-text">
      <h3>Password dimenticata?</h3>
    </div>

    <form #imposta="ngForm" (ngSubmit)="validaEmail(imposta)">
      <div class="container-fluid" id="imposta-form">
        <div class="col-3">
          <label for="inputEmail4" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            name="email"
            ngModel
            email
            required
          />
        </div>
        <div *ngIf="emailInvalid">
          <p>email non trovata</p>
        </div>


      <div id="bottone-imposta">
        <button
          class="btn btn-primary my-3"
          type="submit"
          [disabled]="!imposta.valid"
        >
        invia email per cambiare password
        </button>
      </div>
      </div>
    </form>
  </div>

</div>
<ng-template #waitPage>
<div>
  <h1>Email inviata</h1>
</div>


</ng-template>

</div>
<ng-template #cambiaPassword>
  <div *ngIf="!isfinish else confermaMessagio">
    <div id="remember-page">
    <div class="container-fluid" id="login-text">
      <h3> inserisci la nuva password </h3>
    </div>

  <form #passwordForm="ngForm"
  novalidate
  (ngSubmit)="impostaPassword(passwordForm)">


  <div ngModelGroup="password" #userPassword="ngModelGroup">
    <div id="password">
      <div class="form-group col-3 mx-3">
        <label for="inputPassword" class="control-label">Nuova password</label>
        <input
          type="password"
          class="form-control"
          ngModel
          name="pwd"
          id="inputPassword"
          placeholder="Password"
          minlength="8"
          required
        />
      </div>

      <div class="form-group col-3 mx-3">
        <div>
          <label for="confirmPassword" class="control-label"
            >Conferma nuova password</label
          >
          <input
            type="password"
            class="form-control"
            ngModel
            name="confirmPwd"
            id="confirmPassword"
            placeholder="Conferma Password"
            required
          />
        </div>
      </div>
    </div>
      <!-- Password error block-->

      <div
        *ngIf="
          (userPassword.invalid && userPassword.dirty) ||
          userPassword.value?.pwd != userPassword.value?.confirmPwd
        "
        class="col-3 mx-3 text-danger"
      >
        <div *ngIf="userPassword.value?.pwd.length < 8; else nomatch">
          Si prega di inserire una password di almeno 8 caratteri
        </div>
        <ng-template #nomatch> La Password deve corrispondere. </ng-template>
      </div>

  </div>


  <div id="bottone-imposta">
    <button
      class="btn btn-primary my-3"
      type="submit"
      [disabled]="!passwordForm.valid"
    >
      imposta password
    </button>
  </div>
</form>
    </div>
  </div>
  <ng-template #confermaMessagio>
    <div>
      <h1> Password Cambiata</h1>
    </div>
  </ng-template>
</ng-template>

</div>
