#info , #email, #password, #registra, h3, #terms,#anagrafica {
  display: flex;
  flex-direction: row;
  justify-content: center;

}


#dataPicker{
  text-align: center;
}


#pagina{
  min-height: calc(100vh - 30.5vh);

}

