
  <div *ngIf="prodotto">
    <div class="card mb-3 mx-3" style="background-color: #00bbff39">
      <div id="card">
        <div id="container">
          <div id="immagine">
            <div id="carosello" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class="d-block"
                    src="{{prodotto[10][0].url}}"
                    alt="..."
                  />
                </div>
                <div *ngFor="let immagine of prodotto[10]; let i = index">
                  <div class="carousel-item" *ngIf="i != 0">
                    <img class="d-block" src="{{ immagine.url }}" alt="..." />
                  </div>
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carosello"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carosello"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <div id="testi">
          <h4 id="titolo" class="card-title">{{ prodotto[2] }}</h4>
          <pre class="card-text">{{ prodotto[4] }}</pre>
          <p class="card-text">
            {{ prodotto[8] | currency : "EUR" : "symbol" : ".2-2" : "it" }}
          </p>
        </div>
      </div>
      <div id="bottoni">
        <button
          class="btn btn-light mx-3 my-3"
          id="acquista"
          style="color: white; background-color: #0d6efd"
        >
          Acquista
        </button>
      </div>
    </div>
  </div>
  <br><br><br>



